body{
    margin: 0;
    padding: 0;
}

#timerhere{
    background-color: #5a707d;
    color: #d4dee4;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#namehere, #clock{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #5a707d;
    color: #d4dee4;
}

#namehere{
    font-size: 5vw;
    font-weight: bolder;
    font-family: cursive;
}


.clockandlabel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    font-weight: bolder;
    margin-left: 20px;
}

.clockandlabel:first-child{
 margin-left: 0px;
}

.numl{
    border: 2px solid #d4dee4;
    border-radius: 10px;
    padding: 0 10px;
}

.itlabel{
    font-size: 4vw;
    text-align: center;
}

#sec{
    color:Salmon;
}