    .decor {
      position: relative;
      /*max-width: 400px;*/
      margin: 20px auto 0;
      background: white;                      /*  ЦВЕТ САМОЙ ФОРМЫ  */
      border-radius: 30px;
      box-shadow: 1px 1px 8px 2px #f69a73;    /*  ЦВЕТ РАМКИ  (ТЕНЬ)    */
    }
    .form-inner {padding: 40px;}
    .form-inner input,
    .form-inner textarea {
      display: block;
      width: 100%;
      font-size: 16px;
      padding: 0 20px;
      margin-bottom: 10px;
      background-color: #e9eff6 !important;
      line-height: 40px;
      margin: 14px 2px;
      border-width: 0;
      border-radius: 20px;
      font-family: 'Roboto', sans-serif;
      outline: none;
      border: 1px transparent solid;
      height: 40px;
    }
    .form-inner .send_partner {
      margin-top: 30px;
      background: #f69a73;
      border-bottom: 4px solid #d87d56;
      color: white;
      font-size: 14px;
      display: block;
      width: 100%;
      padding: 0 20px;
      margin-bottom: 10px;
      line-height: 40px;
      border-radius: 20px;
      font-family: 'Roboto', sans-serif;
      outline: none;
    }
    .form-inner textarea {resize: none;}
    .form-inner h3 {
      margin-top: 0;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 24px;
      color: #707981;
    }
    .form-inner div{
        width:100%;
    }
        /*  */
    .forma_partner {
      max-width: 500px;         
      margin: 0 auto;
      padding: 1px 20px 46px;
    }
    .col-left {
      /*width: 50%;*/
      /*float: left;*/
      /*padding-right: 5px;*/
    }
    .col-right {
      /*width: 50%;*/
      /*float: right;*/
      /*padding-left: 5px;*/
    }
    .forma_partner select {
      padding: 11px 5px 2px;
      margin-bottom: 10px;
       background: #E9EFF6;        /*  ЦВЕТ СЕЛЕКТОРОВ    */  
      line-height: 40px;
      border-width: 0;
      /* border-radius: 20px; */
      font-family: 'Roboto', sans-serif;
      outline: none;
      border: 1px transparent solid;
      cursor: pointer;
    }
    .forma_partner .date_b {
      background: #E9EFF6;         /*  ЦВЕТ СТРОКИ  С день, месяц, год    */
      padding: 0px 5px;
      text-align: center;
      height: 42px;
      margin-bottom: 10px;
      border-radius: 20px;
      margin: 14px 0px;
      margin-left: 2px;
    }
    .country-select {
      width: 24px;
      cursor: pointer;
    }
    .div-phone {
      display: flex;
      width: 100%;
      background: #e9eff6;      /*  ЦВЕТ СТРОКИ  С  ТЕЛЕФОНОМ    */
      height: 40px;
      border-radius: 20px;
      padding-left: 18px;
      margin: 14px 0px;
      margin-left: 2px;
    }
    .div-phone img {
      margin: 12px 0px 0px 6px;
    }
    .forma_partner .phone {
      margin: 0 !important;
      padding-left: 0px !important;
      border-radius: 0px 20px 20px 0px !important;
    }
    .phone::-webkit-outer-spin-button,
    .phone::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
    .prefix-phone {
      width: 40px !important;
      margin: 0px !important;
      border-color: transparent !important;
      border-radius: 0 !important;
      padding: 0px !important;
      color: #000;
      text-align: center;
    }
    @media screen and (max-width: 768px) {
      body {
        padding: unset;
      }
/*
      .forma_partner {
        padding: 1px 6px 46px;
      }
*/
      .forma_partner .form-inner {
          padding: 30px 25px;
      }
      .forma_partner .col-right, .forma_partner .col-left {
        width: 100%;
        padding: unset;
      }
      .forma_partner .phone {
          margin-bottom: 2px;
      }
    }